@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#vertical-line{
    height: 75px;
    border: 1px solid rgb(231, 231, 231);
}

#location>h5{
    margin:0px;
    font-weight: 700;
}

#location>p{
    margin: 0px;
}

#search-bar{
    border: 1px solid #eeeeee;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding-inline: 10px;
    width:40vw;
}

#search-bar>input{
    border: none;
    background-color: transparent;
    width: 90%;
    height: 40px;
}

#cart-btn{
    background-color: rgb(12, 131, 31);;
}

#hero, #cards, #categories, #category, footer{
    width: 81vw;
    margin: 10px auto;
}

#categories{
    /* with grid */
    /* display: grid;
    grid-template-columns: repeat(10,10%); */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* with grid */
/* #categories>div{
    margin-inline: 20px;
} */

/* woth flex */
#categories>img{
    width: 120px;
    height: 188px;
}

.scrollable{
    white-space: nowrap;
    overflow: scroll;
}

.scrollable::-webkit-scrollbar{
    display: none;
}

.scrollable>img{
    display: inline-block;
    margin-right: 13px;
}

#category{
    margin-top: 30px;
}

#category>div>h3>a{
    text-decoration: none;
    line-height: 32px;
    font-size: 20px;
    color: rgb(12, 131, 31);
}
.my-card{
    width: 200px;
    display: inline-block !important;
    margin-right: 20px;
    margin-top: 20px;
}

.my-card>img{
    width: 140px;
}

.timer{
    background-color: #f8f8f8;
    width:fit-content;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    padding-inline: 5px;
}

.i-title{
    font-weight: 600;
    padding: 2px 0;
    display: block;
    text-wrap: wrap;
    height: 50px !important;
}

.i-weight{
    color: #6a6a6a;
    font-size: 13px;
}

.i-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-r1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 70px 0;
}

#footer-r1-table1{
    flex:2;
}

#footer-r1-table2{
    flex:3;
}

#footer-r1 h4{
    margin-bottom: 20px;
}

#footer-r1-table2 div{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#footer-r1-table2 a{
    text-decoration: none;
    line-height: 32px;
    font-size: 19px;
    color: rgb(12, 131, 31);
}


table{
    width: 100%;
}

td{
    color: #666;
    font-size: 15px;
    padding: 3px 0;
}

#footer-r2{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

#footer-r2>p{
    width: 40%;
    color: gray;
    font-size: 14px;
    text-align: justify;
    justify-content: flex-start;
}

#social-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons{
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   color: white;
   font-size: 23px;
   margin-inline: 10px;
}

.download{
display: flex;
   justify-content: center;
   align-items: center;
}

 .download p{
    color: gray;
    font-weight: 700;
    padding: 10px;
 }

 .download img{
    width: 92px;
    margin: 10px;
 }

#footer-r3{
    font-size: 15px;
    color: rgb(102, 102, 102);
    line-height: 18px;
}